body{
  background: black;
}

marquee{
  padding-top:25px;
  font-size: 2.5em;
  behavior: scroll;
  direction: left;
  color: green;
}

.header{
  margin: 0 auto;
  height: 100px;
  width: 100%;
  background: #333333;
  border: 1px;
}
.left{
  text-align:left;
  color: blue;
  width:250px;
  height:600px;
  background:#33333a;
}


