body{
  background: black;
}

.header marquee{
  padding-top:25px;
  font-size: 2.5em;
  behavior: scroll;
  direction: left;
  color: green;
}

.header{
  color: white;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  border: solid;
}

.left{
  padding-top:5px;
  text-align:left;
  color: #0099FF;
  width:525px;
  height:575px;
  border:solid;
}

.left img{
  margin-left: 35px;
  width: 450px;
  height: 500px;
}

.right1{
  margin-left:750px;
  border: solid;
  width:400;
  height:260;
  color: #ffffff;
  text-align: right;
}

.right1 marquee{
  padding-top:25px;
  font-size: 1.5em;
  behavior: alternate;
  direction: left;
  color: green;
}

.right1 img{
  height:180px;
  width:320px;
}
