body {
    background-color: yellow;
    color: blue;
    font-family: Comic Sans MS;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#box-blue {
    font-size: 2em;
    align: center;
    padding: .1em;
    border: .15em solid blue;
}

marquee {
    font-size: 2em;
}

.discrete {
    bottom: 0;
    font-size: .75em;
    color: gray;
    background-color
    /* make little dark yellow box that goes at the bottom of each page*/
}

.img_small {
    width: 25%;
    height: 25%;
}

.bg-dyellow {
    background-color: #FBE106;
    padding: 0px;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}
